<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/min/style-min.css">
    <title>Test</title>
</head>
<body>
    <!-- <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header">
                <slot name="formSlot">
                  здесь ничего не отображается 
                  <h3>default header</h3>
                  
                </slot>
              </div>
    
              <div class="modal-body">
                <slot name="formSlot-body">
                  default body
                </slot>
              </div>
    
              <div class="modal-footer">
                <slot name="formSlot-footer">
                  default footer

                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script> -->


    <h1>Список пользователей</h1>
    <div id="app">
      <div class="user__filtering">
          <div id="filter" class="sort-box">
              <span>Показать:</span>
              <button type="button" class="sort-button active" @click="filterAll">всех</button>
              <button type="button" class="sort-button" @click="filterDesign">дизайнеров</button>
              <button type="button" class="sort-button" @click="filterDeveloper">разработчиков</button>
              <button type="button" class="sort-button" @click="filterManager">контент-менеджеров</button>
          </div>
  
          <div id="sorting" class="sort-box">
              <span>Сортировать:</span>
              <button type="button" class="sort-button active" @click="sortByID">по ID</button>
              <button type="button" class="sort-button" @click="sortByName">по имени</button>
              <button type="button" class="sort-button" @click="sortByBDate">по дате рождения</button>
          </div>
      </div>

      <div class="user__add">
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">Добавить</button>
        <br>
       
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group user__list">
              <li class="col-md-4 list-group-item user" v-for="(item, index) in items">
                <div class="content">
                      <span><strong>{{item.name}}</strong></span>
                      <br>
                      <span>ID: {{item.id}}</span>
                      <br>
                      <span>Специальность: {{item.role}}</span>
                      <br>
                      <span> Номер телефона: {{item.phone}}</span>
                      <br>
                      <span> Дата рождения: {{item.birthday}}</span>
                </div>
                    
                <button type="button" class="user__edit-btn btn btn-primary" @click="editItem(index)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit</span>
                </button>
              </li>
            </ul>
          </div>
        </div> 
        
        <div id="modal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div class="modal-body">
                <form id="userForm" class="form-horizontal user-form" @submit="addItem" action="https://api2.esetnod32.ru/frontend/test/" method="POST">
                  <div class="form-group">
                    <label for="name" class="control-label">Имя пользователя</label>
                    <div class="col-10 form-input-box">
                      <input type="text" class="form-control" id="name" placeholder="Имя пользователя" v-model="item.name" required>
                    </div>
                    <label for="phone" class="control-label">Телефон</label>
                    <div class="col-10 form-input-box">
                      <input type="tel" class="form-control" id="phone" ref="field" placeholder="Телефон" v-model="item.phone" required>{{item.phone}}
                    </div>
                    <label for="user-birthday" class="control-label">Дата рождения</label>
                    <div class="col-10 form-input-box">
                        <input type="text" name="birthday" class="form-control" id="birthday"  placeholder="Дата рождения" v-model="item.birthday" required>
                    </div>
                    <label for="user-role" class="control-label">Специальность</label>
                    <div class="col-10 form-input-box">
                      <select name="role" id="role" class="form-control" v-model="item.role">
                          <option value="designer">Дизайнер</option>
                          <option value="developer">Разработчик</option>
                          <option value="manager">Контент-менеджер</option>
                      </select>
                    </div>
                    <div class="col-10">
                        <label for="archive" class="control-label">В архиве</label>
                        <input type="checkbox" value="В архиве" name="archive" id="archive" v-model="item.isArhive" />
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">OK</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" @click="editCancel" aria-label="Close">Отмена</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- <div id="newapp">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">Добавить</button>
        <br><br>
       
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item" v-for="item in items">
                <button type="button" class="btn btn-default" v-for="(item, index) in items" @click="removeItem(index)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true">Remove</span></button>
                
                <button type="button" class="btn btn-default" v-for="(item, index) in items" @click="editItem(index)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit</span></button>
                {{item.name}}
              </li>
            </ul>
          </div>
        </div>
        
        
        <div id="modal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body">
                <form class="form-horizontal" @submit="addItem">
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-10">
                      <input type="text" class="form-control" id="name" placeholder="name" v-model="item.name">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">OK</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" v-for="(item, index) in items" @click="editCancel(index)">Отмена</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div> -->
    <script src="js/min/vue-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="jquery.inputmask.min.js"></script>
    <script src="js/min/main-min.js"></script>
</body>
</html>